target
*.iml
*.ipr
*.iws
*.class
*.log
*.epoch

.idea
.DS_Store
.classpath
.eeimarn
.project
.settings

.factorypath
.pmd
.checkstyle
.cobertura
.cache/
.history/
.lib/
.vagrant

dependency-reduced-pom.xml
id_file
/buildNumber.properties
